@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    --background: 216 33% 94%;
        --background200: 210, 24%, 90%;
        --foreground: 0 0% 0%;
        --card: 216 33% 94%;
        --card-foreground: 0 0% 0%;
        --popover: 216 33% 94%;
        --popover-foreground: 0 0% 0%;
        --primary: 36 99% 28%;
        --primary-foreground: 216 33% 94%;
        --secondary: 215 100% 95%;
        --secondary-foreground: 0 0% 0%;
        --muted: 215 33% 20%;
        --muted-foreground: 0 0% 70%;
        --accent: 36 98% 55%;
        --accent-foreground: 0 0% 0%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 0 0% 0%;
        --border: 215 33% 20%;
        --input: 215 33% 20%;
        --ring: 36 98% 40%;
        --radius: 0.5rem;
    }

    .dark {
    --background: 216 33% 6%;
        --background200: 214, 35%, 8%;
        --foreground: 0 0% 100%;
        --card: 216 33% 6%;
        --card-foreground: 0 0% 100%;
        --popover: 216 33% 6%;
        --popover-foreground: 0 0% 100%;
        --primary: 36 99% 72%;
        --primary-foreground: 216 33% 6%;
        --secondary: 216 100% 5%;
        --secondary-foreground: 0 0% 100%;
        --muted: 215 33% 80%;
        --muted-foreground: 0 0% 100%;
        --accent: 36 98% 45%;
        --accent-foreground: 216 33% 6%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 0 0% 10%;
        --border: 216 33% 60%;
        --input: 215 33% 80%;
        --ring: 36 98% 60%;
    }
  }

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
html {
    scroll-behavior: smooth;
}

.invert {
    filter: invert(100%);
}

.gradient-text {
    background-image: linear-gradient(45deg, #fec672, #e38902);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.animate-down {
    animation: fade-down 0.7s;
}

.animate-in {
    animation: fade-in 0.5s ease-in;
}